html {
  font-family: 'Droid Sans', sans-serif;
}

body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #F2F2F2;
}

.container-main {
  background-color: #FFF;
  padding-top: 30px;
}

@font-face{
  font-family:Batch;
  src:url('../fonts/batch-icons-webfont.eot');
  src:url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/batch-icons-webfont.woff') format('woff'),
    url('../fonts/batch-icons-webfont.ttf') format('truetype'),
    url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:M3MonoRegular;
  src:url('../fonts/m3monoregular-webfont.eot');
  src:url('../fonts/m3monoregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/m3monoregular-webfont.woff') format('woff'),
    url('../fonts/m3monoregular-webfont.ttf') format('truetype'),
    url('../fonts/m3monoregular-webfont.svg#M3MonoRegular') format('svg');
}

@font-face{
  font-family:M3MonoBold;
  src:url('../fonts/m3monobold-webfont.eot');
  src:url('../fonts/m3monobold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/m3monobold-webfont.woff') format('woff'),
    url('../fonts/m3monobold-webfont.ttf') format('truetype'),
    url('../fonts/m3monobold-webfont.svg#M3MonoBold') format('svg');
}

.batch {
  font-family:"Batch";
  font-size:32px;
  line-height:1;
  display:inline-block;
  vertical-align: middle;
}
.batch-pending:before {
  content:"\F090";
  color: #FFBA00;
  padding-right: 5px;
}
.batch-resolved:before {
  content:"\F164";
  color: #8DBB12;
  padding-right: 5px;
}
.batch-denied:before {
  content:"\F14E";
  color: #E61414;
  padding-right: 5px;
}

.form-group label {
  display: none;
}
.form-group input,
.form-group textarea,
.form-group select {
  color: #FFFFFF;
  font-size: 24px;
  background-color: #E61414;
  border-color: #FFFFFF;
}
.form-group input, .form-group select, .btn-primary {
  height: 64px;
}
.form-group textarea {
  height: 110px;
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
   color: #FFFFFF;
}
.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
   color: #FFFFFF;
}
.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
   color: #FFFFFF;
}
.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
   color: #FFFFFF;
}

.comment-form .form-group input,
.comment-form .form-group textarea,
.comment-form .form-group select {
  color: #7D7D7B;
  font-size: 18px;
  background-color: #fff;
  border-color: #B0B0AD;
}
.comment-form .form-group input::-webkit-input-placeholder,
.comment-form .form-group textarea::-webkit-input-placeholder {
   color: #B0B0AD;
}
.comment-form .form-group input:-moz-placeholder,
.comment-form .form-group textarea:-moz-placeholder {
   color: #B0B0AD;
}
.comment-form .form-group input::-moz-placeholder,
.comment-form .form-group textarea::-moz-placeholder {
   color: #B0B0AD;
}
.comment-form .form-group input:-ms-input-placeholder,
.comment-form .form-group textarea:-ms-input-placeholder {
   color: #B0B0AD;
}

.btn-primary {
  color: #E61414;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #E61414;
  border-color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
a.btn-text:hover,
a.btn-text:focus {
  text-decoration: none;
}

.comment-form .btn-primary {
  color: #E6141;
  background-color: #FFFFFF;
  border-color: #B0B0AD;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.comment-form .btn-primary:hover,
.comment-form .btn-primary:focus,
.comment-form .btn-primary:active,
.comment-form .btn-primary.active {
  color: #fff;
  background-color: #E61414;
  border-color: #fff;
  font-size: 18px;
  font-weight: bold;
}
a.btn-text:hover,
a.btn-text:focus {
  text-decoration: none;
}


.navbar-default {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.navbar-default .navbar-brand {
  color: #444444;
}
.navbar-brand {
  font-size: 30px;
  height: 60px;
  vertical-align: middle;
  font-family: M3MonoRegular;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #444444;
}
.navbar-default .navbar-nav > li > a {
  color: #444444;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 0px;
  color: #FFFFFF;
  background-color: #e61414;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
  font-size: 52px;
}
.jumbotron h2,
.jumbotron .h2 {
  color: inherit;
  font-size: 24px;
}

div.title {
  margin-bottom: 15px;
}

span.title {
  font-size: 30px;
}
span.item_title {
  font-size: 24px;
  font-weight: bold;
}
span.title, span.item_title, span.creator, span.created, span.agency, span.comment, span.description {
  color: #444;
}
span.title a,
span.item_title a,
span.creator a,
span.agency a {
  color: #444;
  text-decoration-color: #444;
  -moz-text-decoration-color: #444;
}
span.title a:hover,
span.title a:focus,
span.item_title a:hover,
span.item_title a:focus,
span.creator a:hover,
span.creator a:focus,
span.agency a:hover,
span.agency a:focus {
  color: #444;
  text-decoration-color: #444;
  -moz-text-decoration-color: #444;
}
span.creator, span.created, span.agency, span.helper_text {
  font-size: 12px;
  line-height: 1.5em;
}

.detail-details span.creator,
.detail-details span.created,
.detail-details span.agency,
.detail-details span.helper_text {
  font-size: 18px;
}
span.helper_text {
  color: #B0B0AD;
}
span.helper_text a {
  color: #444;
}
span.helper_text a:hover,
span.helper_text a:focus {
  color: #444;
  text-decoration-color: #444;
  -moz-text-decoration-color: #444;
}
span.helper_text_bold {
  color: #444;
  font-weight: bold;
}
span.state {
  text-transform: uppercase;
  color: #7D7D7B;
  font-weight: bold;
}
span.state a{
  color: #7D7D7B;
}
span.state a:hover,
span.state a:focus {
  color: #7D7D7B;
  text-decoration-color: #7D7D7B;
  -moz-text-decoration-color: #7D7D7B;
}
span.description {
  font-size: 18px;
}

.request_creation,
.request_assigned,
.request_state {
  padding-top: 5px;
}
.item_description {
  padding-top: 15px;
}

.line-separator{
margin: 0px 0 15px 0;
border-bottom: 1px solid #EFEFEF;
padding: 0px 0 20px 0;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #fff;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Make wrapper the same width as container */
#wrap {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #wrap {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #wrap {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #wrap {
    width: 970px;
  }
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #fff;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
