{% extends "requests/base.html" %}

{% load bootstrap3 %}
{% block title %}request.opendata.ch{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Open data.<br>State your request!</h1>
          <h2>This is where we will put Andreas' great description of our website.<br><br>Learn more about our goal!</h2>
        </div>
        <div class="col-md-6">
          <form role="form" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form request_form %}
              {% bootstrap_form agency_form %}
              {% bootstrap_form user_form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary">
                      CREATE REQUEST
                  </button>
              {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>All Requests</span>
      </div>
    </div>
    {% if requests %}
        {% for r in requests %}
          <div class="row">
            <div class="col-md-12">
              <span class="title">{{ r.title }}</span>
              <span class="creator">{{ r.creator.name }}</span>
              <span class="created">{{ r.created }}</span>
              <span class="agency">{{ r.agency.name }}</span>
              <span class="state {{ r.state }}">{{ r.state }}</span>
            </div>
          </div>
        {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-md-12">
          <p>No matching requests.</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
