{% extends "requests/base.html" %}

{% load bootstrap3 %}
{% block title %}request.opendata.ch{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Open data.<br>State your request!</h1>
          <h2>This is where we will put Andreas' great description of our website.<br><br>Learn more about our goal!</h2>
        </div>
        <div class="col-md-6">
          <form role="form" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form request_form %}
              {% bootstrap_form agency_form %}
              {% bootstrap_form user_form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary btn-block">
                      CREATE REQUEST
                  </button>
              {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="title">All Requests</span>
      </div>
    </div>
    {% if requests %}
        {% for r in requests %}
          <div class="row">
            <div class="col-md-10">
              <div>
                <a href="{% url "apps.requests.views.request_detail" r.id %}"><span class="request_title">{{ r.title }}</span></a>
              </div>
              <div>
                <span class="helper_text">created by </span>
                <span class="creator">{{ r.creator.name }}</span>
                <span class="helper_text"> at </span>
                <span class="created">{{ r.created }}</span>
              </div>
              <div>
                <span class="helper_text">assigned to </span>
                <span class="agency">{{ r.agency.a_name }}</span>
              </div> 
            </div>
            <div class="col-md-2">
              <a href="{% url "apps.requests.views.request_list" r.state %}"><span class="batch batch-{{ r.state }}" data-icon="&#xF090;"></span><span class="state {{ r.state }}">{{ r.state|upper }}</span></a>
            </div>
          </div>
        {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-md-12">
          <p>No matching requests.</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
