{% extends "requests/list.html" %}

{% load bootstrap3 %}
{% block title %}request.opendata.ch{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Open data.<br>State your request!</h1>
          <h2>So you want to use some data, but you don't know whether it's open or where to find it?<br></br>Cheers! You're at the right place. State your request here, and let's track its progress.</h2>
        </div>
        <div class="col-md-6">
          <form role="form" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form request_form %}
              {% bootstrap_form user_form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary btn-block">
                      CREATE REQUEST
                  </button>
              {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
