{% extends "base.html" %}

{% block content %}

  {% block page_title %}
    <div class="row">
      <div class="col-md-12">
        <span class="title">All Requests</span>
      </div>
    </div>
  {% endblock %}

  <div class="line-separator"></div>

  {% block list %}
    {% if requests %}
      {% for r in requests %}
        <div class="row">
          <div class="col-md-10">
            <div class="request_title">
              <span class="request_title"><a href="{% url "apps.requests.views.request_detail" r.id %}">{{ r.title }}</a></span>
            </div>
            <div class="request_creation">
              <span class="helper_text">created by {{ r.creator.name }} at {{ r.created }}</span>
            </div>
            <div class="request_assigned">
              <span class="helper_text">assigned to </span>
              <span class="agency"><a href="{% url "apps.requests.views.agency_list" r.agency.a_name %}">{{ r.agency.a_name }}</a></span>
            </div>
          </div>
          <div class="col-md-2 state">
            <span class="state {{ r.state }}"><a href="{% url "apps.requests.views.request_list" r.state %}"><span class="batch batch-{{ r.state }}"></span>{{ r.state }}</a></span>
          </div>
        </div>
        <div class="line-separator"></div>
      {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-md-12">
          <p>No matching requests.</p>
        </div>
      </div>
    {% endif %}
  {% endblock %}

{% endblock %}
