{% extends "requests/base.html" %}

{% load bootstrap3 %}
{% block title %}{{req.title}}{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Open data.<br>State your request!</h1>
        </div>
        <div class="col-md-6">
        <a href="{% url "apps.requests.views.index" %}" class="btn-text"><button type="button" class="btn btn-primary btn-block">
            CREATE REQUEST
        </button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
        <span class="title">{{ req.title }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 detail-details">
        <div class="request_creation">
          <span class="helper_text">created by {{ req.creator.name }} at {{ req.created }}</span>
        </div>
        <div class="request_assigned">
          <span class="helper_text">assigned to </span>
          <a href="{% url "apps.requests.views.agency_list" req.agency.a_name %}"><span class="agency">{{ req.agency.a_name }}</span>
        </div>
        <div class="request_state">
          <a href="{% url "apps.requests.views.request_list" req.state %}"><span class="batch batch-{{ req.state }}"></span><span class="state {{ req.state }}">{{ req.state }}</span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="request_description">
          <span class="description">{{req.description}}</span>
        </div>
      </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
      <div class="col-md-12">
        <span class="title">Comments</span>
      </div>
      <div class="col-md-12">
        {% for c in req.comments.all %}
          <div>
            <span class="comment">{{c.description}}</span>
          </div>
        {% endfor %}
      </div>
      <div class="comment-form">
          <form role="form" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            {% bootstrap_form user_form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                Submit comment
              </button>
            {% endbuttons %}
          </form>
      </div>
    </div>
{% endblock %}
